<main class="main">
  <div class="inner">
    <p><%= @name %>さんの投稿一覧</p>
    <div class="card_wrapper">
      <% @posts.each do |post| %>
        <div class="card">
          <%= link_to post.user.name, user_path(post.user), class: "card_user" %>
          <% if post.image.attached? %>
            <%= link_to post_path(post), class: "card_img" do %>
              <%= image_tag(post.image.variant(resize: "660x470")) %>
            <% end %>
          <% end %>
          <p class="card_text">
            <%= link_to post.text, post_path(post) %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</main>