<div class="post_list">
  <%= link_to "by ポストの投稿者名", root_path, class: :post_user %>
  <%= link_to image_tag("ポストの画像", class: :post_img ), root_path%>
  <div class="post_text">
    <%= link_to "ポストのテキスト", root_path, class: :post_text%>
  </div>
</div>

<!--
<div class="card_list">
  <% @posts.each do |post| %>
    <div class="content_post" style="background-image: url(<%= post.image %>);">
      <p class="card_text">
        <%= post.text %>
      </p>
      <span class="card_name">
        <%= post.name %>
      </span>
    </div>
</div>
-->