<div class="contents box">
  <div class="container">
    <h2>ポスト作成</h2>
    <%= form_with(model: @post, local: true) do |form| %>
    <%= render 'layouts/error_messages', model: form.object %>
      <%= form.file_field :image %>
      <%= form.text_area :text, placeholder: "コメントを入力", rows: "10" %>
      <%= form.submit "シェア" %>
    <% end %>
  </div>
</div>